<!-- TODO: Create loading component template -->

<div class="loading-container" [class]="'loading-' + size">
  
  <!-- TODO: Spinner type -->
  <div *ngIf="type === 'spinner'" class="spinner-loader">
    <div class="spinner"></div>
  </div>
  
  <!-- TODO: Dots type -->
  <div *ngIf="type === 'dots'" class="dots-loader">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  
  <!-- TODO: Bars type -->
  <div *ngIf="type === 'bars'" class="bars-loader">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  
  <!-- TODO: Loading message -->
  <p class="loading-message">{{ message }}</p>
  
</div>