<!-- TODO: Create surah list template -->

<div class="surah-list-container">
  <!-- TODO: Add search bar -->
  
  <!-- TODO: Add filters (Meccan/Medinan, by length, etc.) -->
  
  <!-- TODO: Add loading spinner -->
  
  <!-- TODO: Add surah list with cards/items showing: -->
  <!--
    - Surah number
    - Arabic name
    - English transliteration
    - Translation
    - Number of verses
    - Revelation type (Meccan/Medinan)
    - Progress indicator if partially read
  -->
  
  <!-- TODO: Add pagination or virtual scrolling -->
  
  <!-- TODO: Add error message display -->
</div>